/Albion Online.url
/Anonymous Hacker Simulator Prologue.url
/AutoClicker.exe
/AutoMouse.exe.lnk
/CCleaner.lnk
/CrystalDiskInfo.lnk
/DARK SOULS REMASTERED.lnk
/desktop.ini
/Discord.lnk
/EpicGamesLauncher.lnk
/eurotrucks2.exe.lnk
/git-bash.exe.lnk
/git-cmd.exe.lnk
/GitHub Desktop.lnk
/Hi.Bit.Uninstaller.exe
/Icecream Ebook Reader.lnk
/idle_master_extended_v1.10.0
/Jivo.lnk
/KPD
/LibreOffice 7.5.lnk
/MSI Afterburner.lnk
/notepad++.exe.lnk
/Open Server Panel.exe.lnk
/Outlast 2.url
/pycharm64.exe.lnk
/qbittorrent.exe.lnk
/REDRAGON PHOENIX.lnk
/rzappengine.exe.lnk
/SAM.Picker
/ScreenLM64.exe.lnk
/Soundpad.url
/steam.exe.lnk
/sublime_text.exe.lnk
/SumatraPDF.lnk
/Telegram.lnk
/ToS Gamepad Tester.url
/Viber.lnk
/Visual Studio Code.lnk
/Wallpaper Engine.url
/WinDirStat.lnk
/WindowsTerminal.exe.lnk
/Wow.exe.lnk
/Xtreme Tuner.lnk
/Yandex.lnk
/~$123.docx
/Выбор языка DARK SOULS REMASTERED.lnk
/Новая папка (2)
/Режим Бога.{ED7BA470-8E54-465E-825C-99712043E01C}
/ТЗ_Календарь_исторических_событий_и_памятных_дат_Удмуртской_Республики.docx
/учёба
/Яндекс Музыка.lnk